<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-2230639045002827~3679360670</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Used to show ads and support the developer.</string>
</dict>
</plist>
